* {
	background-color: black;
	color: white;
	font-size: 17px;
	font-family: serif;
}

header {
	text-align: left;
}

nav {
	float: right;
}

nav a {
	text-decoration: none;
}

body {
	padding: 8px;
	margin: auto;
	max-width: 750px;
}

h1 {
	text-align: center;
	font-size: 25px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

blockquote {
	display: block;
	margin-left: 32px;
	border-left: 2px solid white;
	padding-left: 8px;
}

code {
	font-family: monospace;
	font-size: 75%;
}

pre {
	border: 1px solid white;
	display: block;
	overflow-x: scroll;
	padding: 6px;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: black;
	background-color: white;
}

th, td {
	border: 1px solid;
}