html {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

header {
	text-align: left;
}

nav {
	float: right;
}

nav a {
	text-decoration: none;
}

body {
	padding: 8px;
	margin: auto;
	width: 800px;
	max-width: 100%;
}

h1 {
	text-align: center;
	font-size: 175%;
	font-family: 'Unna', serif;
}

h2 {
	font-size: 150%;
	font-family: 'Unna', serif;
}

h3 {
	font-size: 125%;
	font-family: 'Unna', serif;
}

blockquote {
	display: block;
	margin-left: 32px;
	border-left: 2px solid white;
	padding-left: 8px;
}

code {
	font-family: 'Fira Code', monospace;
	font-size: 75%;
}

pre {
	border: 1px solid white;
	display: block;
	overflow-x: scroll;
	padding: 6px;
	border-radius: 5px;
}

a {
	color: #f06e;
	text-decoration: none;
	transition-duration: 167ms;
	font-family: 'Raleway', sans-serif;
}

a:hover {
	color: black;
	background-color: #f06e;
}

hr {
	display: none;
}

:target {
	box-shadow: 2px 2px #f06e;
	transition: all .8s; 
}

table {
	border-collapse: collapse;
	border-style: hidden;
}
d
table td {
	border: 1px solid white;
	padding: 2px;
}