body {
	background: #202022;
	color: #fff;
	font-family: serif;
	font-size: 120%;
	max-width: 864px;
}

td, th {
	border: solid 1px;
	padding: 2px;
}

a {
	color: #ff60aa;
}

a:hover {
	text-decoration: none;
	background-color: #ff60aa;
	color: #202020;
}

code {
	font-family: monospace;
	border: solid 1px;
}
